/* Styles for the container */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the header */
.header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

/* Styles for the text */
.text {
  text-align: center;
  margin-bottom: 20px;
}

/* Styles for the input container */
.inputs {
  margin-bottom: 15px;
}

/* Styles for the input */
.input {
  position: relative;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 40px);
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Styles for the forgot link */
.forgotContainer {
  text-align: center;
  margin-bottom: 15px;
}

.forgot {
  text-decoration: none;
  color: #007bff;
}

/* Styles for the submit button */
.submit-container {
  text-align: center;
}

.submit input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit input[type="submit"]:hover {
  background-color: #0056b3;
}
