/* profile.css */

.card {
    margin-top: 50px;
  }
  
  .card-title {
    font-size: 18px;
  }
  
  .card-body {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  